<!DOCTYPE html>
<html>
<style>
    body {
  text-align: center;

}

h1 {
  font-size: 48px;
}
    .fields {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}
    .input-fields {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
    .button {
  font-size: 1em;
  background-color: #6ba2ce;
  color: white;
  border: 0px solid;
  border-radius: 4px;
  height: 40px;
  width: 80px;
  margin: 10px;
}
</style>
   <body>
   <H1> Welcome to tlparser</H1>
      <form action = "upload" method = "POST"
         enctype = "multipart/form-data">
         <input class="input-fields" type = "file" name = "file" />
         <input class="button" type = "submit"/>
      </form>
   </body>
</html>