<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
      body {
  text-align: center;

}
      .error{
          color: #ff0012;

      }


h1 {

  font-size: 48px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    background-color: #4CAF50;
}
</style>
<body>
<H1> Welcome to small parser</H1>
<div>
    <button onclick="location.href='/';" class="button">Home</button>
    <p>The total time taken from time log file is  {{ output }}</p>
    <p>{{ error_title }}</p>
    <p class="error">{{ error }}</p>
    </div>
</body>
</html>